*
{
  box-sizing: border-box;
}
.parent
{
  background-color: #37517e;
  width: 100%;
  height:33rem;
}
.nav-container
{
width: 100%;
height: 30px;
padding-right: 8rem;
}
.main-section
{
display: flex;
justify-content: flex-end;
gap: 3em;
align-items: center;
}
.links
{
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  transition: 0.6s ease;
  margin-top: 25px;
  font-size: large;
}
.link-special
{
 border:2.5px solid #47B2E4;
 border-radius: 18px;
 padding: 5px 15px;
 transition: 0.5 ease;
}
.links:hover
{
  color: #418fbf;
}
.link-special:hover
{
background-color: #00b0f9 !important;
color: white !important;
}
.main-photo
{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-top: 3em;
  margin-right: 2em;
}
.header-img
{
  animation: moveUpDown 2s ease-in-out infinite alternate;
  margin-right: 3em;
}
.header-body
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 10em;
}
.h3-body
{
  text-transform: capitalize;
  color: white !important;
  font-weight:700;
  font-size: 48px;
  line-height: 56px;
}
.p-header
{
  color: white;
  font-size: x-large;
  opacity: 0.5;
  margin-bottom: 50px;
  font-size: 24px;
}

.header-button
{
  background-color:#00b0f9;
  border-radius: 30px ;
  border: 1px ;
  padding: 10px 30px;
  font-size: large;
  color: white;
  text-transform: capitalize;
  margin: 2px;
  transition: 0.5s ease;
  font-weight: 600;
}
.header-button:hover
{
  background-color: #418fbf;
  opacity: 1;
}
.fa-circle-play
{
color: white;
text-transform: capitalize;
font-weight: 400;
margin-left: 2em;
}

@keyframes moveUpDown {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px); 
    }
  }
.second-section
{
  width: 100%;
  height:14vh;
  background-color: #eee;
}
.section-2-links
{
  display: flex;
  justify-content: space-evenly;
align-items: center;
}
.section-links {
  margin-top: 2em;
  width: 5.5%;
  font-size: large;
  filter: grayscale(45);
  transition: filter 0.5s ease, transform 0.5s ease; /* Add transform to the transition */
  transform: scale(1); /* Initial scale */
}

.section-links:hover {
  filter: grayscale(0);
  transform: scale(1.1); /* Scale the element up when hovering */
}
.parent-middle-header
{
  width: 100%;
}
.middle-content-header
{ 
  text-align: center;
  padding-top:1.2em;
  text-transform: uppercase;
  font-size: 40px;
  color: #37517e;
  font-weight: bolder;
  }
.parent-middle-content{
  display: flex;
  gap: 5em;
}
.child-middle-content-1
{
flex: 1;
margin-left: 10px;
}
.child-content-1
{
  font-size: large;
}
.child-content-2
{
  font-size: large;
}
.child-2-button
{
  background-color: white;
  color: #47B2E4;
  border: 2px solid #47B2E4;
  border-radius: 3px;
  padding: 2px 10px;
  text-transform: capitalize;
  margin-top: 1em;
  transition: 0.7s ease;
}
.child-2-button:hover
{
  background-color: #47B2E4;
  color: white;
}

/* start of the section 2  */
.container-middle-2 {
  display: flex;
  margin-top: 4em;
  background-color: #eee;
}

.left-content {
  flex: 1;
  padding: 3em;
}

.left-content-header
{
  color: #37517E;
  text-align: left;
  padding-left: 15px;
  font-size: 35px;
}
.left-content-prargaph
{
  font-size: 20px;
  opacity: 0.7;
}
.right-content {
  flex: 1;
  padding: 20px;
}

/* Add styles for the image if needed */
.right-content img {
  max-width: 100%;
  height: auto;
}
.container-middle-3
{
  display: grid;
  grid-template-columns: 50% 50%;
  margin:5em 0.5em;
}
.middle-3-img
{
  width: 100%;
margin-left: 1.5em;
}
.header-middle-3{
  font-size: 34px;
  margin-top: 1em;
  margin-left: 2em;
 color:#37517e;
 font-weight: bolder;
}
.middle-3-text
{
  font-size: large;
  margin-left: 2em;
  font-style: oblique;
}
.container-middle-4
{
  width: 100%;
  background-color: #F3F5FA;
}
.middle-4-text
{
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: #37517E;
  font-weight: bold;
}
.middle-4-text-2
{
  font-style: oblique;
  margin-left: 1.5em;
  text-align: center;
}
.container-middle-content-4
{
  display: grid;
  grid-template-columns: repeat(4,25%);
}
.my-card
{
background-color: #FFFFFF;
width: 75%;
height: 35vh;
margin: 4em 3em 2em 5em;
border-radius: 4px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: transform 0.5s ease ;
}
.card-text
{
  color: #375281;
  font-size: 25px;
  font-style: oblique;
  transition: 0.5s ease;
}
.card-text:hover
{
  color: #00b0f9;
  cursor: pointer;
}
.card-text-2
{
  margin-left: 2em;
  font-style: oblique;
}
.my-card:hover {
  transform: translateY(-15px);
}